@{
    ViewBag.Title = "COMP2084 - Lab 2";
}

<div class="jumbotron">
    <h1>COMP2084 - Lab 2</h1>
    <p class="lead">This is a simple website created as an assignment to check my knowledge of ASP.NET.</p>
    <p>Source code : <a href="https://github.com/Yesha612/COMP2084-lab2.git" class="btn btn-primary btn-lg">Github</a></p>
</div>


        